**1.write a python program using zip() and list() function,create a merged list of tuples from the two lists given**

In [5]:
l1=[1,2,3,4]
l2=['a','b','c','d']
mergedlist=list(zip(l1,l2))
print(mergedlist)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

**2.first create a range from 1-8.Then using zip,merge the given list and range together to create a new list of tuples**
**

In [31]:
l=list(range(1,9))
l2=[]
for i in range(1,9):
  e=input()
  l2.append(e)
merged_list=list(zip(l,l2))
print(merged_list)

a
b
c
d
e
f
g
h
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g'), (8, 'h')]

**3.using sorted() sort the list in ascending order**

In [10]:
x=list(range(10,0,-1))
print("list before sorting")
print(x)
y=sorted(x)
print("list after sorting")
print(y)

list before sorting
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
list after sorting
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**4.write a program using filter function,filter the even numbers so that only odd numbers are passed to the new list**

In [21]:

l=list(range(1,25,1))
print(l)
new_list=list(filter(lambda x:x%2!=0,l))
print("After filtering even numbers the odd numbers in list are")
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
After filtering even numbers the odd numbers in list are
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]