In [7]:
list1=[]
n=int(input("enter no of elements"))
for i in range(0,n):
    ele=int(input("enter element"+str(i+1)+ ":"))
    list1.append(ele)
print(list1)    
res=[x+2 for x in list1]
print("list after adding 2")
print(res)

enter no of elements5
enter element1:1
enter element2:2
enter element3:3
enter element4:4
enter element5:5
[1, 2, 3, 4, 5]
list after adding 2
[3, 4, 5, 6, 7]

In [28]:
n=5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end="")
  print()

54321
4321
321
21
1

In [29]:
n=int(input("enter the length of sequence"))
a=0
b=1
while(a<n-1):
  print(a)
  print(b)
  a=a+b
  b=a+b

enter the length of sequence5
0
1
1
2
3
5

In [32]:
num=int(input("enter a number :"))
sum=0;
temp=num;
while temp>0:
  digit=temp%10
  sum=sum+(digit ** 3)
  temp//=10
if num==sum:
   print(num,"is an armstrong number")
else:
   print(num, "is not an armstrong number")

enter a number :153
153 is an armstrong number

In [42]:
n=int(input("enter a number"))
for i in range(1,11):
    print(n ,   "x"    +str(i)+  "=",     i*n)

enter a number9
9 x1= 9
9 x2= 18
9 x3= 27
9 x4= 36
9 x5= 45
9 x6= 54
9 x7= 63
9 x8= 72
9 x9= 81
9 x10= 90

In [43]:
n=int(input("enter a number"))
if n>=0:
  print("postive number")
else:
  print("negative number")

enter a number5
postive number

In [47]:
n=int(input("enter the number of days :"))
age=n//365
print("age is",age)

enter the number of days :9490
age is 26

In [50]:
import math
a=math.pi/3
b=3
c=4
print("The sine of pi/3 is :",math.sin(a))
print("The tangent of pi/3 is :",math.sin(a))
print("The cosine of pi/3 is :",math.sin(a))
print("The hypotenuse of b and c is :",math.hypot(b,c))
print("The degree of a is :",math.degrees(a))
print("The radians values from degree value b is :",math.radians(b))

The sine of pi/3 is : 0.8660254037844386
The tangent of pi/3 is : 0.8660254037844386
The cosine of pi/3 is : 0.8660254037844386
The hypotenuse of b and c is : 5.0
The degree of a is : 59.99999999999999
The radians values from degree value b is : 0.05235987755982989

In [56]:
def add(a,b):
    return a+b
 
def sub(a,b):
    return a-b

def mul(a,b):
  return a*b

def div(a,b):
  return a/b  

a=int(input("emter number 1 :"))
b=int(input("enter number 2 :"))
op=int(input("enter operation you want to perfrom \n1.Add \n2.subtract\n3.multiply \n4.divide\n"))
if op==1:
  print(a,"+",b,"=",add(a,b))
elif op==2:
  print(a,"-",b,"=",sub(a,b))
elif op==3:
  print(a,"*",b,"=",mul(a,b))  
elif op==4:
  print(a,"/",b,"=",div(a,b)) 
else:
  print("invalid input")

emter number 1 :4
enter number 2 :21
enter operation you want to perfrom
1.Add
2.subtract
3.multiply
4.divide
3
4 * 21 = 84